* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EBE7E4;
    background-image: linear-gradient(#CFC6C0, white);
    background-image: linear-gradient(#E6E2DF, white);
    margin-left: auto;
    margin-right: auto;
}

#menu {
    width: 20px;
    float: left;
}

#menu ul {
    list-style: none;
    margin-left: 700px;
    position: absolute;
    z-index: 100;
    white-space: nowrap;
}

#menu li {
    display: inline-block;
    margin-top: -35px;
    padding-right: 86px;
    text-align: center;
    color: #c7b18d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}

#menu .item2 {
    margin-left: -28px;
}

#menu p {
    padding-top: 8px;
}

.BoxHeaderTop {
    height: 52px;
    background-color: #251B17;
    border-bottom: 1px solid #61473d;
}

.LightBox {
    /* background-color: #30241F; */
    width: 1349px;
    height: 136px;
    margin-left: auto;
    margin-right: auto;
}

.BoxHeader {
    width: 1345px;
    background-color: #3B2C25;
    height: 133px;
}

.LightboxMain {
    position: absolute;
    z-index: 1000;
    margin-left: -36px;
    margin-top: -275px;
}

.LightBox-Bot {
    background-color: #30241F;
    width: 1000px;
    height: 79px;
    margin-left: auto;
    margin-right: auto;
    border-left: 1px solid #61473d;
    border-right: 1px solid #61473d;
}

.title {
    margin-left: 340px;
    margin-top: -110px;
    color: #fff;
    font-family: "duepuntozero";
    width: 50px;
    margin-bottom: 23px;
}

.title h5 {
    font-family: "duepuntozero";
    font-size: 68px;
}

.title h4 {
    margin-left: 75px;
    width: 50px;
    font-family: "duepuntozero";
    color: #fae1b3;
    margin-top: -10px;
    font-size: 18px;
}

main {
    margin-left: auto;
    margin-right: auto;
    background-color: #F7F5F4;
    width: 1000px;
    height: 909px;
    border: 1px solid #fff;
}

.contact {
    margin-left: auto;
    margin-right: auto;
    margin-left: 345px;
    padding-top: 30px;
    font-family: "duepuntozero";
    width: 620px;
}

.contact h1 {
    font-size: 41px;
    padding-top: 4px;
    padding-bottom: 6px;
}

.info {
    width: 80%;
    margin-top: -1px;
}

.info ul {
    list-style: none;
    font-style: bold;
}

.info .item {
    padding-left: 5px;
    padding-right: 55px;
}

.info span {
    font-family: "ArialMT";
    font-size: 13px;
    padding-left: 23px;
    color: #645a56;
}

.info .tel {
    padding-left: 28px
}

.info .fax {
    margin-left: 20px;
}

.info li {
    display: inline-block;
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #342f2c;
    font-size: 13px;
    margin-top: 5px;
}

.info p {
    font-family: "duepuntozero";
}

.info .item_space {
    padding-left: 6px;
}

.resizedTextbox {
    width: 465px;
    height: 30px;
    margin-bottom: 3px;
    margin-top: -1px;
}

.from {
    margin-top: 10px;
    border-top: 1px solid #000;
}

.from p {
    margin-top: 22px;
    font-family: "ArialMT";
    font-size: 15px;
    color: #645a56;
    padding-left: 5px;
    padding-bottom: 20px;
}

.addfrom {
    margin-top: 45px;
}

.addfrom p {
    margin-bottom: -10px;
    font-size: 11px;
    color: #645a56;
}

.addfrom .name_fr {
    padding-top: 3px;
}

.addfrom .email_fr {
    padding-top: -100px;
}

.btn {
    height: 30px;
    width: 100px;
    margin-left: 367px;
    background-color: #cec5bf;
    margin-top: 18px;
    color: #30241f;
    font-size: 11px;
    font-family: "ArialMT";
}

.LightBox-footer {
    height: 130px;
    width: 1349px;
    margin-left: auto;
    margin-right: auto;
    background-color: #3B2C25;
}

.LightBox-footer-center {
    background-color: #30241F;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

.lightbox-footer-logo {
    background-color: #251B17;
    width: 156px;
    padding-left: 70px;
    float: left;
    display: inline-block;
    height: 130px;
}

.lightbox-footer-logo img {
    z-index: 1000;
    position: absolute;
    margin-top: 5px;
    margin-left: 25px;
}

.lightbox-footer-tile {
    display: inline-block;
    width: 120px;
    height: 130px;
    background-color: #251B17;
    float: left;
    opacity: 1;
}

.lightbox-footer-tile h3 {
    display: inline-block;
    color: #fff;
    font-family: "duepuntozero";
    margin-left: -100px;
    margin-top: 25px;
    font-size: 35px;
}

.lightbox-footer-tile h5 {
    display: inline-block;
    font-family: "duepuntozero";
    color: #fae1b3;
    padding-top: 20px;
    margin-left: 1px;
    font-size: 18px;
}

.lightbox-footer-content {
    float: left;
    width: 654px;
    background-color: #30241F;
    height: 130px;
    font-family: "ArialMT";
    font-size: 11.5px;
}

.lightbox-footer-item1 {
    float: left;
    padding-left: 36px;
    padding-top: 35px;
}

.lightbox-footer-item1 span {
    color: #fff;
}

.lightbox-footer-item2 span {
    color: #fff;
}

.lightbox-footer-item2 p {
    color: #a68a7d;
}

.lightbox-footer-item1 p {
    color: #a68a7d;
}

.lightbox-footer-item2 {
    float: left;
    padding-top: 40px;
    padding-left: 167px;
    font-size: 11.9px;
}


/* Ronponsive cho Mobile */

@media only screen and (min-width:345px) and (max-width:413px) {
    .LightBox {
        width: 370px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 145px;
    }
    .BoxHeader {
        width: 374px;
        background-color: #3B2C25;
        height: 205px;
    }
    .LightBox-Bot {
        background-color: #30241F;
        width: 300px;
        height: 150px;
        border-left: 1px solid #61473d;
        border-right: 1px solid #61473d;
    }
    .LightboxMain {
        margin-left: -90px;
    }
    #menu ul {
        margin-left: 0px;
        margin-top: 195px;
        width: 50px;
    }
    #menu li {
        display: block;
        margin-top: 12px;
        background-color: #3B2C25;
        text-align: center;
        width: 370px;
        padding-right: 0px;
        border-radius: 10px 10px 20px 20px;
        margin-bottom: -5px;
    }
    .nav-icon {
        display: none;
    }
    #menu .item2 {
        margin-left: 0px;
    }
    .title {
        margin-left: 148px;
        margin-top: -140px;
    }
    main {
        width: 374px;
        margin-left: 0px;
        height: auto;
    }
    .contact {
        margin-left: 0px;
        width: 320px;
    }
    .contact h1 {
        text-align: center;
    }
    .info {
        width: 375px;
        margin-left: auto;
        margin-right: auto;
    }
    .info li {
        font-size: 13px;
    }
    .info span {
        font-size: 10px;
    }
    .from {
        width: 370px;
    }
    .from p {
        width: 374px;
        padding-left: 0px;
    }
    .resizedTextbox {
        width: 369px;
    }
    #areatext {
        width: 369px;
    }
    .btn {
        margin-left: 265px;
    }
    .LightBox-footer {
        width: 375px;
        margin-left: 0px;
        margin-right: 0px;
        height: 100px;
    }
    .LightBox-footer-center {
        width: 375px;
        margin-left: 0px;
        margin-right: 0px;
        height: 100px;
    }
    .lightbox-footer-tile {
        width: 150px;
    }
    .lightbox-footer-content {
        width: 375px;
    }
    .lightbox-footer-logo {
        padding-left: 0px;
        width: 50px;
        height: 100px;
    }
    .lightbox-footer-logo img {
        margin-left: 10px;
    }
    .lightbox-footer-tile {
        width: 80px;
        height: 100px;
    }
    .lightbox-footer-tile h3 {
        margin-left: -15px;
        font-size: 30px;
        margin-top: 26px;
    }
    .lightbox-footer-tile h5 {
        font-size: 12px;
        margin-top: 26px;
    }
    .lightbox-footer-content {
        width: 100px;
        font-size: 5px;
        height: 100px;
    }
    .lightbox-footer-item1 {
        padding-left: 10px;
        width: 86px;
        float: left;
        display: inline-block;
    }
    .lightbox-footer-item2 {
        font-size: 5px;
        padding-top: 10px;
        width: 50px;
        font-size: 5px;
        display: inline-block;
    }
}

@media only screen and (min-width:410px) and (max-width:767px) {
    .LightBox {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 145px;
    }
    .BoxHeader {
        width: 100%;
        background-color: #3B2C25;
        height: 205px;
    }
    .LightBox-Bot {
        background-color: #30241F;
        width: 100%;
        height: 150px;
        border-left: 1px solid #61473d;
        border-right: 1px solid #61473d;
    }
    .LightboxMain {
        margin-left: -90px;
    }
    #menu ul {
        margin-left: 0px;
        margin-top: 195px;
        width: 100%;
    }
    #menu li {
        display: block;
        margin-top: 12px;
        background-color: #3B2C25;
        text-align: center;
        width: 100%;
        padding-right: 0px;
        border-radius: 10px 10px 20px 20px;
        margin-bottom: -5px;
    }
    .nav-icon {
        display: none;
    }
    #menu .item2 {
        margin-left: 0px;
    }
    .title {
        margin-left: 148px;
        margin-top: -140px;
    }
    main {
        width: 100%;
        margin-left: 0px;
        height: auto;
    }
    .contact {
        margin-left: 5%;
        width: 320px;
    }
    .contact h1 {
        text-align: center;
        padding-left: 25px;
    }
    .info {
        width: 375px;
        margin-left: auto;
        margin-right: auto;
    }
    .info li {
        font-size: 13px;
    }
    .info span {
        font-size: 10px;
    }
    .from {
        width: 370px;
    }
    .from p {
        width: 374px;
        padding-left: 0px;
    }
    .resizedTextbox {
        width: 369px;
    }
    #areatext {
        width: 369px;
    }
    .btn {
        margin-left: 265px;
    }
    .LightBox-footer {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        height: 100px;
    }
    .LightBox-footer-center {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        height: 100px;
    }
    .lightbox-footer-tile {
        width: 150px;
    }
    .lightbox-footer-logo {
        padding-left: 0px;
        width: 20%;
        height: 100px;
    }
    .lightbox-footer-logo img {
        margin-left: 10px;
    }
    .lightbox-footer-tile {
        width: 80px;
        height: 100px;
    }
    .lightbox-footer-tile h3 {
        margin-left: -15px;
        font-size: 30px;
        margin-top: 26px;
    }
    .lightbox-footer-tile h5 {
        font-size: 12px;
        margin-top: 26px;
    }
    .lightbox-footer-content {
        width: 40%;
        font-size: 5px;
        height: 100px;
    }
    .lightbox-footer-item1 {
        padding-left: 10px;
        width: 60%;
        float: left;
        display: inline-block;
    }
    .lightbox-footer-item2 {
        font-size: 5px;
        padding-top: 1px;
        width: 40%;
        font-size: 5px;
        display: inline-block;
        float: left;
    }
}

@media only screen and (min-width: 765px) and (max-width: 979px) {
    .LightBox {
        width: 100%;
    }
    .BoxHeader {
        width: 100%;
    }
    .LightBox-Bot {
        width: 80%;
    }
    .LightboxMain {
        margin-left: -70px;
    }
    #menu ul {
        margin-left: 289px;
        margin-top: 0px;
    }
    #menu li {
        padding-right: 65px;
    }
    .title {
        margin-left: 180px;
    }
    .title h5 {
        font-size: 42px;
    }
    .title h4 {
        font-size: 10px;
        margin-left: 50px;
        margin-top: -5px;
    }
    main {
        width: 80%;
    }
    .contact {
        margin-left: 1%;
        padding-top: 50px;
        width: 99%;
    }
    .contact h1 {
        text-align: center;
    }
    .info {
        margin-left: 100px;
    }
    .addfrom {
        margin-left: 70px;
    }
    .LightBox-footer {
        width: 100%;
    }
    .LightBox-footer-center {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        height: 130px;
    }
    .lightbox-footer-tile {
        width: 150px;
    }
    .lightbox-footer-content {
        width: 60%;
        height: 130px;
    }
    .lightbox-footer-logo {
        padding-left: 20px;
        width: 50px;
        height: 130px;
    }
    .lightbox-footer-logo img {
        margin-left: 10px;
    }
    .lightbox-footer-tile {
        width: 21.2%;
        height: 130px;
    }
    .lightbox-footer-tile h3 {
        margin-left: -15px;
        font-size: 30px;
        margin-top: 26px;
    }
    .lightbox-footer-tile h5 {
        font-size: 12px;
        margin-top: 26px;
    }
    .lightbox-footer-content {
        width: 60.2%;
        font-size: 5px;
        height: 94px;
    }
    .lightbox-footer-item1 {
        padding-left: 10px;
        width: 25%;
        float: left;
        display: inline-block;
        font-size: 5px;
        padding-top: 44px;
    }
    .lightbox-footer-item2 {
        font-size: 5px;
        padding-top: 43px;
        width: 20%;
        font-size: 5px;
        display: inline-block;
    }
}

@media only screen and (min-width: 1023px) and (max-width: 1219px) {
    .LightBox {
        width: 100%;
    }
    .BoxHeader {
        width: 100%;
    }
    .LightBox-Bot {
        width: 80%;
    }
    .LightboxMain {
        margin-left: -70px;
    }
    #menu ul {
        margin-left: 509px;
        margin-top: 0px;
    }
    #menu li {
        padding-right: 65px;
    }
    .title {
        margin-left: 210px;
    }
    .title h5 {
        font-size: 42px;
    }
    .title h4 {
        font-size: 10px;
        margin-left: 50px;
        margin-top: -5px;
    }
    main {
        width: 80%;
    }
    .contact {
        margin-left: 1%;
        padding-top: 50px;
        width: 99%;
    }
    .contact h1 {
        text-align: center;
    }
    .contact p {
        text-align: center;
    }
    .info {
        margin-left: 220px;
        width: 50%;
    }
    .addfrom {
        margin-left: 190px;
    }
    .LightBox-footer {
        width: 100%;
    }
    .LightBox-footer-center {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        height: 130px;
    }
    .lightbox-footer-tile {
        width: 150px;
    }
    .lightbox-footer-content {
        width: 60%;
        height: 130px;
    }
    .lightbox-footer-logo {
        padding-left: 20px;
        width: 50px;
        height: 130px;
    }
    .lightbox-footer-logo img {
        margin-left: 10px;
    }
    .lightbox-footer-tile {
        width: 21.2%;
        height: 130px;
    }
    .lightbox-footer-tile h3 {
        margin-left: -15px;
        font-size: 30px;
        margin-top: 26px;
    }
    .lightbox-footer-tile h5 {
        font-size: 12px;
        margin-top: 26px;
    }
    .lightbox-footer-content {
        width: 60.2%;
        font-size: 5px;
        height: 94px;
    }
    .lightbox-footer-item1 {
        padding-left: 10px;
        width: 25%;
        float: left;
        display: inline-block;
        font-size: 5px;
        padding-top: 44px;
    }
    .lightbox-footer-item2 {
        font-size: 5px;
        padding-top: 43px;
        width: 20%;
        font-size: 5px;
        display: inline-block;
    }
}