html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: "duepuntozero";
    src: url('./asset/font/Duepuntozero/Duepuntozero.ttf') format('truetype'),
        url('./asset/font/Duepuntozero/Duepuntozero.eot') format('embedded-opentype'),
        url('./asset/font/Duepuntozero/Duepuntozero.otf') format('opentype'),
        url('./asset/font/Duepuntozero/Duepuntozero.woff') format('woff'),
        url('./asset/font/Duepuntozero/Duepuntozero.woff2') format('woff2'),
        url('./asset/font/Duepuntozero/Duepuntozero.svg') format('svg');
    font-weight: normal;

    font-family: "helvetica";
    src: url('./asset/font/Helvetica/Helvetica.ttf') format('truetype'),
    url('./asset/font/Helvetica/Helvetica.eot') format('embedded-opentype'),
    url('./asset/font/Helvetica/Helvetica.otf') format('opentype'),
    url('./asset/font/Helvetica/Helvetica.woff') format('woff'),
    url('./asset/font/Helvetica/Helvetica.woff2') format('woff2'),
    url('./asset/font/Helvetica/Helvetica\ Regular.svg') format('svg');
    
    font-family: "ArialMT";
    src: url('./asset/font/ArialMT\ Light/ArialMT.ttf') format('truetype'),
    url('./asset/font/ArialMT\ Light/ArialMT.otf') format('opentype'),
    url('./asset/font/ArialMT\ Light/ArialMT.eot') format('embedded-opentype'),
    url('./asset/font/ArialMT\ Light/ArialMT.woff') format('woff'),
    url('./asset/font/ArialMT\ Light/ArialMT.woff2') format('woff2'),
    url('./asset/font/ArialMT\ Light/ArialMT.svg') format('svg');
}

body {
    background-color: #EBE7E4;
    background-image: linear-gradient(#E6E2DF, #fff);
    margin:0 auto 0 auto;
}

.lightbox__boxheader--top {
    height: 52px;
    background-color: #251B17;
    border-bottom: 1px solid #61473d;
    width: 100%;
}

.lightbox {
    height: 80px;
    width: 1349px;
    margin:0 auto 55px auto;
}

.lightbox__boxheader {
    width: 1345px;
    background-color: #3B2C25;
}

.boxheader__logo--image {
    position: absolute;
    z-index: 100;
    margin: -273px 0 0 -40px;
}

.lightbox__boxheader--logo {
    background-color: #30241F;
    width: 1004px;
    height: 80px;
    margin:0 auto 0 auto;
    border: 0 1px 1px 1px solid #61473d;
}

.lightbox__boxheader--menu {
    width: 20px;
    float: left;
    text-transform: uppercase;
}

.lightbox__boxheader--menu ul {
    list-style: none;
    margin-left: 570px;
    white-space: nowrap;
    z-index: 100;
    position: absolute;
}

.lightbox__boxheader--menu li {
    display: inline-block;
    text-align: center;
    color: #c7b18d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    padding-left: 10px;
    margin: -88px 0 10px 84px;
}


.lightbox__boxheader--menu .boxheader__menu--item-1 {
    padding:0px 0 0 2px;
}
.lightbox__boxheader--menu .boxheader__menu--item-2 {
    width: 50px;
    padding-left: 31px;
}
.lightbox__boxheader--menu .boxheader__menu--item-2 p {
    padding:0px 0 0 8px;
}
.lightbox__boxheader--menu .boxheader__menu--item-3 {
    width: 50px;
    padding:0 0 0 1px;
}
.lightbox__boxheader--menu .boxheader__menu--item-4 {
    margin-left: 35px;
}



.lightbox__boxheader--menu p {
    margin-top: 9.5px;
}

.lightbox__name--company {
    color: #fff;
    width: 70px;
    margin:40px 0 48px 335px;
    text-transform: capitalize;
}

.lightbox__name--company h1 {
    font-family: "duepuntozero";
    font-size: 68px;
    margin-top: -145px;
    font-weight: 200 !important;
}

.lightbox__name--company p {
    font-family: "duepuntozero";
    color: #fff;
    font-size: 18px;
    margin: -7px 0 0 75px;
    text-transform: uppercase;
}
main {
   margin:0 auto 0 auto;
    background-color: #F7F5F4;
    width: 1000px;
    height: 906px;
    border: 1px solid #fff;
}

.contact {
    margin:0 auto 0 344px;
    padding-top: 30px;
    font-family: "duepuntozero";
    width: 620px;
}

.contact h3 {
    font-size: 41px;
    padding:9px 0 8px 0;
    font-weight: 500;
}

.contact__from--info {
    width: 80%;
    margin:2px 0 0 1px;
}

.contact__from--info ul {
    list-style: none;
    font-style: bold;
}

.contact__from--info .from__info--item-1 {
    padding: 0 60px 0 0px;
}
.contact__from--info .from__info--item-2{
    padding: 0 60px 0 0px;
}
.contact__from--info .from__info--item-3{
    padding: 0 60px 0 0px;
}


.contact__from--info span {
    font-family: "ArialMT";
    font-size: 13px;
    padding-left: 25px;
    color: #645a56;
    font-weight:500;
}

.contact__from--info .tel {
    padding-left: 28px
}

.contact__from--info .fax {
    padding-left: 40px;
}

.contact__from--info li {
    display: inline-block;
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #342f2c;
    font-size: 13px;
    margin-top: 5px;
}

.contact__from--info p {
    font-family: "duepuntozero";
}

.contact__from--info .item_space {
    padding-left: 6px;
}

.from--input {
    width: 465px;
    height: 30px;
    margin:-1px 0 3px 2px;
}
.areatext {
    margin:-1px 0 0 2px;
}

.contact__from {
    margin-top: 10px;
    border-top: 1px solid #000;
}

.contact__from p {
    margin-top: 22px;
    font-family: "ArialMT";
    font-size: 15px;
    color: #645a56;
    padding:0 0 20px 5px;
}

.contact__from--add {
    margin-top: 45px;
    margin:48px 0 0 -5px;
}

.contact__from--add p {
    margin-bottom: -10px;
    font-size: 11px;
    color: #645a56;
    font-family: "ArialMT";
    text-transform: uppercase;
}

.contact__from--add .contact__from--name {
    padding-top: 3px;
}

.contact__from--add .contact__from--email {
    padding-top: -100px;
}

.btn {
    height: 32px;
    width: 102px;
    background-color: #cec5bf;
    margin:12px 0 0 369px;
    color: #30241f;
    font-size: 11px;
    font-family: "ArialMT";
    border: 1px solid #aba198;
    text-transform: uppercase;
}

.boxfooter {
    height: 130px;
    width: 1349px;
    margin:0 auto 0 auto;
    background-color: #3B2C25;
}

.boxfooter__center {
    background-color: #30241F;
    margin:0 auto 0 auto;
    width: 1000px;
    text-transform: uppercase;
}

.boxfooter__center--logo {
    background-color: #251B17;
    width: 156px;
    padding-left: 70px;
    float: left;
    display: inline-block;
    height: 130px;
}

.boxfooter__center--logo img {
    z-index: 1000;
    position: absolute;
    margin:5px 0 0 25px;
}

.boxfooter__center--namecompany {
    display: inline-block;
    width: 120px;
    height: 130px;
    background-color: #251B17;
    font-family: "duepuntozero";
    float: left;
    opacity: 1;
    font-weight: 500;
}

.boxfooter__center--namecompany h3 {
    display: inline-block;
    color: #fff;
    font-family: "duepuntozero";
    margin:30px 0 0 -102px;
    font-size: 35px;
    text-transform: capitalize;
    font-weight:500;
}

.boxfooter__center--namecompany h5 {
    display: inline-block;
    font-family: "duepuntozero";
    color: #fae1b3;
    padding-top: 20px;
    margin-left: 1px;
    font-size: 18px;
    text-transform:uppercase;
}

.boxfooter__center--src {
    float: left;
    width: 654px;
    background-color: #30241F;
    height: 130px;
    font-size: 11px;
    font-family: "ArialMT";
}

.center__src--item-1 {
    float: left;
    padding:37px 0 0 34px;
    line-height:12px;
}

.center__src--item-1 span {
    color: #fff;
}

.center__src--item-2 span {
    color: #fff;
}

.center__src--item-2 p {
    color: #a68a7d;
}

.center__src--item-1 p {
    color: #a68a7d;
}

.center__src--item-2 {
    float: left;
    padding:44px 0 0 168px;
    font-size: 11px;
    font-family: "ArialMT";
}


/* Ronponsive cho Mobile */

@media only screen and (min-width:318px) and (max-width:373px) {
    .lightbox {
        width: 100%;
        margin:0px 0px 250px 0px;
    }
    .lightbox__boxheader {
        width:100%;
        background-color: #3B2C25;
        height: 205px;
    }
    .lightbox__boxheader--logo {
        background-color: #30241F;
        width: 300px;
        height: 150px;
        border-left: 1px solid #61473d;
        border-right: 1px solid #61473d;
    }
    .boxheader__logo--image {
        margin: -200px 0px 0px -90px;
    }
    .lightbox__boxheader--menu ul {
        margin: 195px 0px 0px 0px;
        width: 100%;
    }
    .lightbox__boxheader--menu  li {
        display: block;
        background-color: #3B2C25;
        text-align: center;
        width: 100%;
        padding-right: 0px;
        border-radius: 10px 10px 20px 20px;
        margin:12px 0 -5px 0;
    }
    .nav-icon {
        display: none;
    }
    .lightbox__boxheader--menu {
        text-transform: uppercase;
    }
    .lightbox__boxheader--menu  .boxheader__menu--item-2  {
        margin-left: 0px;
        width: 100%;
        padding-left: 0px;
    }
    .lightbox__boxheader--menu .boxheader__menu--item-2 p{
        padding-left:0px;
    }
    .lightbox__boxheader--menu  .boxheader__menu--item-1 {
        margin-left: 0px;
        width: 100%;
        padding-left: 0px;
    }
    .lightbox__boxheader--menu  .boxheader__menu--item-3 {
        padding-left: 0px;
        width: 100%;
        margin-left: 0;
    }
    .lightbox__boxheader--menu  .boxheader__menu--item-4 {
        margin-left: 0px;
        width: 100%;
        padding-left: 0px;
    }
    .lightbox__name--company {
        margin:-140px 0 0 135px;
    }
    .lightbox__name--company h1{
        padding-top:50px;
    }
    main {
        width: 100%;
        margin-left: 0px;
        height: auto;
    }
    .contact {
        margin-left: 3px;
        width: 100%;
    }
    .contact h3 {
        text-align: center;
    }
    .contact__from--info{
        width: 100%;
        margin :0 auto 0 auto;
    }
    .contact__from--info ul {
        width: 80%;
    }
    .contact__from--info li {
        font-size: 13px;

    }
    .contact__from--info span {
        font-size: 15px;
    }
    .contact__from--add {
        width: 100%;
    }
    .contact__from--add p {
        width: 100%;
        padding-left: 0px;
    }
    .from--input {
        width: 95%;
    }
    .areatext {
        width: 95%;
    }
    .btn {
        margin-left: 150px;
    }
    .boxfooter{
        width: 100%;
        height: 100px;
        margin: 0px 0px 0px 0px;
    }
    .boxfooter__center {
        width: 100%;
        height: 100px;
        margin: 0px 0px 0px 0px;
    }
    .boxfooter__center--namecompany {
        width: 150px;
    }
    .boxfooter__center--logo {
        padding-left: 0px;
        width: 50px;
        height: 100px;
    }
    .boxfooter__center--logo img {
        margin-left: 10px;
    }
    .boxfooter__center--namecompany {
        width: 80px;
        height: 100px;
    }
    .boxfooter__center--namecompany h3 {
        font-size: 30px;
        margin:26px 0px 0px -15px;
    }
    .boxfooter__center--namecompany h5 {
        font-size: 12px;
        margin-top: 26px;
    }
    .boxfooter__center--src {
        width: 57%;
        font-size: 5px;
        height: 100px;
        text-transform: uppercase;
        display: inline-block;
    }
    .center__src--item-1 {
        width: 90%;
        display: inline-block;
        font-size: 11px;
        padding:18px 0px 0px 35px;
    }
    .center__src--item-2 {
        font-size: 5px;
        padding:10px 0px 0px 34px;
        width: 90%;
        display: inline-block;
        font-size: 12px;

    }
}

@media only screen and (min-width:345px) and (max-width:413px) {
    .lightbox {
        width: 100%;
        margin:0px 0px 250px 0px;
    }
    .lightbox__boxheader {
        width:100%;
        background-color: #3B2C25;
        height: 205px;
    }
    .lightbox__boxheader--logo {
        background-color: #30241F;
        width: 300px;
        height: 150px;
        border-left: 1px solid #61473d;
        border-right: 1px solid #61473d;
    }
    .boxheader__logo--image {
        margin: -200px 0px 0px -90px;
    }
    .lightbox__boxheader--menu ul {
        margin: 195px 0px 0px 0px;
        width: 100%;
    }
    .lightbox__boxheader--menu  li {
        display: block;
        background-color: #3B2C25;
        text-align: center;
        width: 100%;
        padding-right: 0px;
        border-radius: 10px 10px 20px 20px;
        margin:12px 0 -5px 0;
    }
    .nav-icon {
        display: none;
    }
    .lightbox__boxheader--menu {
        text-transform: uppercase;
    }
    .lightbox__boxheader--menu  .boxheader__menu--item-2  {
        margin-left: 0px;
        width: 100%;
        padding-left: 0px;
    }
    .lightbox__boxheader--menu .boxheader__menu--item-2 p{
        padding-left:0px;
    }
    .lightbox__boxheader--menu  .boxheader__menu--item-1 {
        margin-left: 0px;
        width: 100%;
        padding-left: 0px;
    }
    .lightbox__boxheader--menu  .boxheader__menu--item-3 {
        padding-left: 0px;
        width: 100%;
        margin-left: 0;
    }
    .lightbox__boxheader--menu  .boxheader__menu--item-4 {
        margin-left: 0px;
        width: 100%;
        padding-left: 0px;
    }
    .lightbox__name--company {
        margin:-140px 0 0 135px;
    }
    .lightbox__name--company h1{
        padding-top:50px;
    }
    main {
        width: 100%;
        margin-left: 0px;
        height: auto;
    }
    .contact {
        margin-left: 3px;
        width: 100%;
    }
    .contact h3 {
        text-align: center;
    }
    .contact__from--info{
        width: 350px;
        margin :0 auto 0 auto;
    }
    .contact__from--info ul {
        width: 80%;
    }
    .contact__from--info li {
        font-size: 13px;

    }
    .contact__from--info span {
        font-size: 15px;
    }
    .contact__from--add {
        width: 100%;
    }
    .contact__from--add p {
        width: 320px;
        padding-left: 0px;
    }
    .from--input {
        width: 95%;
    }
    .areatext {
        width: 95%;
    }
    .btn {
        margin-left: 240px;
    }
    .boxfooter{
        width: 100%;
        height: 100px;
        margin: 0px 0px 0px 0px;
    }
    .boxfooter__center {
        width: 100%;
        height: 100px;
        margin: 0px 0px 0px 0px;
    }
    .boxfooter__center--namecompany {
        width: 150px;
    }
    .boxfooter__center--logo {
        padding-left: 0px;
        width: 50px;
        height: 100px;
    }
    .boxfooter__center--logo img {
        margin-left: 10px;
    }
    .boxfooter__center--namecompany {
        width: 80px;
        height: 100px;
    }
    .boxfooter__center--namecompany h3 {
        font-size: 30px;
        margin:26px 0px 0px -15px;
    }
    .boxfooter__center--namecompany h5 {
        font-size: 12px;
        margin-top: 26px;
    }
    .boxfooter__center--src {
        width: 63%;
        font-size: 5px;
        height: 100px;
        text-transform: uppercase;
        display: inline-block;
    }
    .center__src--item-1 {
        width: 60%;
        float: left;
        display: inline-block;
        font-size: 12px;
        padding:15px 0px 0px 55px;
    }
    .center__src--item-2 {
        font-size: 5px;
        padding:10px 0px 0px 55px;
        font-size: 5px;
        display: inline-block;
        width: 60%;
        font-size: 12px;

    }
}

@media only screen and (min-width:410px) and (max-width:767px) {
    .lightbox {
        width: 100%;
        margin:0px 0px 250px 0px;
    }
    .lightbox__boxheader {
        width:100%;
        background-color: #3B2C25;
        height: 205px;
    }
    .lightbox__boxheader--logo {
        background-color: #30241F;
        width: 300px;
        height: 150px;
        border-left: 1px solid #61473d;
        border-right: 1px solid #61473d;
    }
    .boxheader__logo--image {
        margin: -200px 0px 0px -90px;
    }
    .lightbox__boxheader--menu ul {
        margin: 195px 0px 0px 0px;
        width: 100%;
    }
    .lightbox__boxheader--menu  li {
        display: block;
        background-color: #3B2C25;
        text-align: center;
        width: 100%;
        padding-right: 0px;
        border-radius: 10px 10px 20px 20px;
        margin:12px 0 -5px;
    }
    .nav-icon {
        display: none;
    }
    .lightbox__boxheader--menu {
        text-transform: uppercase;
    }
    .lightbox__boxheader--menu  .boxheader__menu--item-2  {
        margin-left: 0px;
        width: 100%;
        padding-left: 0px;
    }
    .lightbox__boxheader--menu .boxheader__menu--item-2 p{
        padding-left:0px;
    }
    .lightbox__boxheader--menu  .boxheader__menu--item-1 {
        margin-left: 0px;
        width: 100%;
        padding-left: 0px;
    }
    .lightbox__boxheader--menu  .boxheader__menu--item-3 {
        padding-left: 0px;
        width: 100%;
        margin-left: 0;
    }
    .lightbox__boxheader--menu  .boxheader__menu--item-4 {
        margin-left: 0px;
        width: 100%;
        padding-left: 0px;
    }
    .lightbox__name--company {
        margin:-140px 0 0 148px
    }
    .lightbox__name--company h1{
        padding-top:50px;
    }
    main {
        width: 100%;
        margin-left: 0px;
        height: auto;
    }
    .contact {
        margin-left: 20px;
        width: 340px;
    }
    .contact h3 {
        text-align: center;
    }
    .contact__from--info{
        width: 350px;
        margin:0px 0px 0px 0px;
    }
    .contact__from--info ul {
        width: 80%;
    }
    .contact__from--info li {
        font-size: 13px;

    }
    .contact__from--info span {
        font-size: 15px;
    }
    .contact__from--add {
        width: 320px;
    }
    .contact__from--add p {
        width: 320px;
        padding-left: 0px;
    }
    .from--input {
        width: 350px;
    }
    .areatext {
        width: 350px;
    }
    .btn {
        margin-left: 240px;
    }
    .boxfooter{
        width: 100%;
        height: 100px;
        margin: 0px 0px 0px 0px;
    }
    .boxfooter__center {
        width: 100%;
        height: 100px;
        margin: 0px 0px 0px 0px;
    }
    .boxfooter__center--namecompany {
        width: 150px;
    }
    .boxfooter__center--logo {
        padding-left: 0px;
        width: 50px;
        height: 100px;
    }
    .boxfooter__center--logo img {
        margin-left: 10px;
    }
    .boxfooter__center--namecompany {
        width: 80px;
        height: 100px;
    }
    .boxfooter__center--namecompany h3 {
        font-size: 30px;
        margin:26px 0px 0px -15px;
    }
    .boxfooter__center--namecompany h5 {
        font-size: 12px;
        margin-top: 26px;
    }
    .boxfooter__center--src {
        width: 67%;
        font-size: 5px;
        height: 100px;
        text-transform: uppercase;
        display: inline-block;
    }
    .center__src--item-1 {
        width: 45%;
        display: inline-block;
        float: left;
        font-size: 12px;
        padding:28px 0px 0px 10px;
    }
    .center__src--item-2 {
        font-size: 5px;
        padding:28px 0px 0px 20px;
        width: 20%;
        font-size: 5px;
        display: inline-block;
        float : left;
        font-size: 12px;

    }
}

@media only screen and (min-width: 765px) and (max-width: 979px) {
    .lightbox {
        width: 100%;
        margin:0px 0px 125px 0px;
    }
    .lightbox__boxheader {
        width:100%;
        background-color: #3B2C25;
        height: 205px;
    }
    .lightbox__boxheader--logo {
        background-color: #30241F;
        width: 80%;
        height: 150px;
        border-left: 1px solid #61473d;
        border-right: 1px solid #61473d;
    }
    .boxheader__logo--image {
        margin: -200px 0px 0px -90px;
    }
    .lightbox__boxheader--menu {
        text-transform: uppercase;
    }
    .lightbox__boxheader--menu ul{
        margin-left: 300px;
    }

    .lightbox__boxheader--menu  .boxheader__menu--item-2  {
        margin-left: 0px;
        width: 85px;
        padding-right: 5px;
    }
    .lightbox__boxheader--menu .boxheader__menu--item-2 p{
        padding-left:0px;
    }
    .lightbox__boxheader--menu  .boxheader__menu--item-1 {
        margin-left: 0px;
        width: 85px;
        padding-left: 0px;
    }
    .lightbox__boxheader--menu  .boxheader__menu--item-3 {
        padding-left: 0px;
        width: 85px;
        margin-left: 0;

    }
    .lightbox__boxheader--menu  .boxheader__menu--item-4 {
        margin-left: 0px;
        width: 85px;
        padding-left: 0px;
       
    }
    .lightbox__name--company {
        margin:-140px 0 0 158px;
    }
    .lightbox__name--company h1{
        padding-top:50px;
    }
    main {
        width: 80%;
        margin:0px auto 0 auto;
        height: auto;
    }
    .contact {
        margin:0px auto 0 auto;
        width: 90%;
    }
    .contact h3 {
        text-align: center;
    }
    .contact__from--info{
        width: 90%;
        margin:0px 0px 0px 0px;
    }
    .contact__from--info ul {
        width: 100%;
    }
    .contact__from--info li {
        font-size: 13px;
        margin-left: 50px;

    }
    .contact__from--info span {
        font-size: 12px;
    }
    .contact__from--add {
        width: 320px;
    }
    .contact__from--add p {
        width: 320px;
        padding-left: 0px;
    }
    .from--input {
        width: 540px;
    }
    .areatext {
        width: 540px;
    }
    .btn {
        margin-left: 440px;
    }
    .boxfooter{
        width: 100%;
        height: 100px;
        margin: 0px 0px 0px 0px;
    }
    .boxfooter__center {
        width: 80%;
        height: 100px;
        margin: 0px auto 0px auto;
    }
    .boxfooter__center--namecompany {
        width: 150px;
    }
    .boxfooter__center--logo {
        padding-left: 0px;
        width: 50px;
        height: 100px;
    }
    .boxfooter__center--logo img {
        margin-left: 10px;
    }
    .boxfooter__center--namecompany {
        width: 80px;
        height: 100px;
    }
    .boxfooter__center--namecompany h3 {
        font-size: 30px;
        margin:26px 0px 0px -15px;
    }
    .boxfooter__center--namecompany h5 {
        font-size: 12px;
        margin-top: 26px;
    }
    .boxfooter__center--src {
        width: 78%;
        font-size: 5px;
        height: 100px;
        text-transform: uppercase;
        display: inline-block;
    }
    .center__src--item-1 {
        width: 206px;
        float: left;
        display: inline-block;
        float: left;
        font-size: 12px;
        padding:35px 0px 0px 10px;
    }
    .center__src--item-2 {
        font-size: 5px;
        padding:45px 0px 0px 16px;
        width: 10px;
        font-size: 5px;
        display: inline-block;
        width: 50%;
        float : left;
        font-size: 12px;

    }
}


@media only screen and (min-width: 1023px) and (max-width: 1219px) {
    .lightbox {
        width: 100%;
        margin:0px 0px 125px 0px;
    }
    .lightbox__boxheader {
        width:100%;
        background-color: #3B2C25;
        height: 205px;
    }
    .lightbox__boxheader--logo {
        background-color: #30241F;
        width: 80%;
        height: 150px;
        border-left: 1px solid #61473d;
        border-right: 1px solid #61473d;
    }
    .boxheader__logo--image {
        margin: -200px 0px 0px -50px;
    }
    .lightbox__boxheader--menu {
        text-transform: uppercase;
    }
    .lightbox__boxheader--menu ul{
        margin-left: 480px;
    }

    .lightbox__boxheader--menu  .boxheader__menu--item-2  {
        margin-left: 0px;
        width: 85px;
        padding-right: 5px;
    }
    .lightbox__boxheader--menu .boxheader__menu--item-2 p{
        padding-left:0px;
    }
    .lightbox__boxheader--menu  .boxheader__menu--item-1 {
        margin-left: 0px;
        width: 85px;
        padding-left: 0px;
    }
    .lightbox__boxheader--menu  .boxheader__menu--item-3 {
        padding-left: 0px;
        width: 85px;
        margin-left: 0;

    }
    .lightbox__boxheader--menu  .boxheader__menu--item-4 {
        margin-left: 0px;
        width: 85px;
        padding-left: 0px;
       
    }
    .lightbox__name--company {
        margin:-140px 0 0 228px
    }
    .lightbox__name--company h1{
        padding-top:50px;
    }
    main {
        width: 80%;
        margin:0px auto 0 auto;
        height: auto;
    }
    .contact {
        margin:0px auto 0 auto;
        width: 90%;
    }
    .contact h3 {
        text-align: center;
    }
    .contact__from--info{
        width: 90%;
        margin:0px 0px 0px 0px;
    }
    .contact__from--info ul {
        width: 100%;
    }
    .contact__from--info li {
        font-size: 13px;
        margin-left: 90px;

    }
    .contact__from--info span {
        font-size: 10px;
    }
    .contact__from--add {
        width: 320px;
        margin-left: 0px;
    }
    .contact__from--add p {
        width: 320px;
        padding-left: 0px;
    }
    .from--input {
        width: 750px;
    }
    .areatext {
        width: 750px;
    }
    .btn {
        margin-left: 650px;
    }
    .boxfooter{
        width: 100%;
        height: 100px;
        margin: 0px 0px 0px 0px;
    }
    .boxfooter__center {
        width: 80%;
        height: 100px;
        margin: 0px auto 0px auto;
    }
    .boxfooter__center--namecompany {
        width: 150px;
    }
    .boxfooter__center--logo {
        padding-left: 0px;
        width: 150px;
        height: 100px;
    }
    .boxfooter__center--logo img {
        margin-left: 50px;
    }
    .boxfooter__center--namecompany {
        width: 80px;
        height: 100px;
    }
    .boxfooter__center--namecompany h3 {
        font-size: 30px;
        margin:26px 0px 0px -75px;
    }
    .boxfooter__center--namecompany h5 {
        font-size: 12px;
        margin-top: 26px;
    }
    .boxfooter__center--src {
        width: 68%;
        font-size: 5px;
        height: 100px;
        text-transform: uppercase;
        display: inline-block;
    }
    .center__src--item-1 {
        width: 206px;
        float: left;
        display: inline-block;
        float: left;
        font-size: 12px;
        padding:35px 0px 0px 30px;
    }
    .center__src--item-2 {
        font-size: 5px;
        padding:45px 0px 0px 36px;
        width: 10px;
        font-size: 5px;
        display: inline-block;
        width: 50%;
        float : left;
        font-size: 12px;

    }
}