html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@font-face {
        font-family: "duepuntozero";
        src: url('./asset/font/Duepuntozero/Duepuntozero.ttf') format('truetype'),
        url('./asset/font/Duepuntozero/Duepuntozero.eot') format('embedded-opentype'),
        url('./asset/font/Duepuntozero/Duepuntozero.otf') format('opentype'),
        url('./asset/font/Duepuntozero/Duepuntozero.woff') format('woff'),
        url('./asset/font/Duepuntozero/Duepuntozero.woff2') format('woff2'),
        url('./asset/font/Duepuntozero/Duepuntozero.svg') format('svg');

        font-family: "duepuntozeroBlod";
        src: url('./asset/font/Duepuntozero/DuepuntozeroBold.tff') format('truetype'),
        url('./asset/font/Duepuntozero/DuepuntozeroBold.eot') format('embedded-opentype'),
        url('./asset/font/Duepuntozero/DuepuntozeroBold.otf') format('opentype'),
        url('./asset/font/Duepuntozero/DuepuntozeroBold.woff') format('woff'),
        url('./asset/font/Duepuntozero/DuepuntozeroBold.woff2') format('woff2'),
        url('./asset/font/Duepuntozero/DuepuntozeroBold.svg') format('svg');


        font-family: "helvetica";
        src: url('./asset/font/Helvetica/Helvetica.ttf') format('truetype'),
        url('./asset/font/Helvetica/Helvetica.eot') format('embedded-opentype'),
        url('./asset/font/Helvetica/Helvetica.otf') format('opentype'),
        url('./asset/font/Helvetica/Helvetica.woff') format('woff'),
        url('./asset/font/Helvetica/Helvetica.woff2') format('woff2'),
        url('./asset/font/Helvetica/Helvetica\ Regular.svg') format('svg');
    
        font-family: "ArialMT";
        src: url('./asset/font/ArialMT\ Light/ArialMT.ttf') format('truetype'),
        url('./asset/font/ArialMT\ Light/ArialMT.otf') format('opentype'),
        url('./asset/font/ArialMT\ Light/ArialMT.eot') format('embedded-opentype'),
        url('./asset/font/ArialMT\ Light/ArialMT.woff') format('woff'),
        url('./asset/font/ArialMT\ Light/ArialMT.woff2') format('woff2'),
        url('./asset/font/ArialMT\ Light/ArialMT.svg') format('svg');
}

body {
    background-color: #EBE7E4;
    background-image: linear-gradient(#E6E2DF, #fff);
}

.lightbox__boxheader--top {
    height: 52px;
    background-color: #251B17;
    border-bottom: 1px solid #61473d;
    width: 100%;
}

.lightbox {
    height: 80px;
    width: 1349px;
    margin: 0 auto 185px auto;
}

.lightbox__boxheader {
    width: 1345px;
    background-color: #3B2C25;
}

.boxheader__logo--image {
    position: absolute;
    z-index: 100;
    margin: -143px 0 0 -40px;
}

.lightbox__boxheader--logo {
    background-color: #30241F;
    width: 1004px;
    height: 210px;
    margin: 0 auto 0 auto;
    border-left: 1px solid #61473d;
    border-right: 1px solid #61473d;
    border-bottom: 1px solid #61473d;
}

.lightbox__boxheader--menu {
    width: 20px;
    float: left;
    text-transform: uppercase;
}

.lightbox__boxheader--menu ul {
    list-style: none;
    margin-left: 570px;
    white-space: nowrap;
    z-index: 100;
    position: absolute;
}

.lightbox__boxheader--menu li {
    display: inline-block;
    text-align: center;
    color: #c7b18d;
    font-family: "helvetica";
    font-size: 11px;
    padding-left: 5px;
    margin: -88px 0 10px 85px;
}

.lightbox__boxheader--menu .boxheader__menu--item-1 {
    padding:-1000px 0 0 23px;
    margin-left: 106px;
}
.lightbox__boxheader--menu .boxheader__menu--item-2 {
    width: 50px;
}

.lightbox__boxheader--menu .boxheader__menu--item-2 p {
    padding:0 0 0 37px;
}
.lightbox__boxheader--menu .boxheader__menu--item-3 {
    margin-left: 85px;
}


.lightbox__boxheader--menu .boxheader__menu--item-4 {
    margin-left: 74px;
}

.lightbox__boxheader--menu p {
    margin-top: 9.5px;
}

.lightbox__name--company {
    color: #fff;
    width: 70px;
    margin: 28px 0 48px 335px;
}

.lightbox__name--company h1 {
    font-family: "duepuntozero";
    font-size: 68px;
    margin-top: -150px;
    font-weight: 200 !important;
}

.lightbox__name--company h4 {
    font-family: "duepuntozero";
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    margin: -10px 0 0 75px;
}

.lightbox__sologan--company {
    width: 480px;
    margin-left: 490px;
    color: #a68a7d;
    border-left: 1px solid #a68a7d;
    height: 90px;
    margin-top: -15px;
    font-family: "helvetica";
}

.lightbox__sologan--company span {
    color: #fff;
}

.lightbox__sologan--company p {
    margin-top: -122px;
    font-size: 18px;
    line-height: 23px;
    padding:5px 0 0 26px;
}

main {
    margin: 0 auto 0 auto;
    width: 1000px;
    height: 1138px;
    clear: both;
    background-color: #f7f5f4;
    border: 1px solid #fff;
}

.boxcontent__wedo {
    float: left;
}

.boxcontent__wedo--image {
    padding-top: 25px;
    float: left;
}

.boxcontent__wedo--image ul {
    list-style: none;
}

.boxcontent__wedo--image li {
    padding:3px 0 110px 0;
}

.boxcontent {
    width: 340px;
    float: left;
    clear: both;
    padding:45px 0 0 342px;
}

.boxcontent h3 {
    padding-bottom: 10px;
    font-family: "duepuntozero";
    font-size: 41px;
    color: #2f231e;
    margin-top: -7px;
    font-weight: 500;
}

.boxfooter {
    height: 94px;
    width: 1349px;
    margin: 0 auto 0 auto;
    background-color: #3B2C25;
    text-transform: uppercase;
}

.boxcontent__desc {
    width: 80%;
    color: #745459;
    padding:25px 0 20px 58px;
}

.boxcontent__desc ul {
    list-style: none;
}

.boxcontent__desc li {
    padding:15px 0 25px 0;
}

.boxcontent__desc h3 {
    font-size: 30px;
    padding-bottom: 15px;
    font-family: "duepuntozero";
    margin-left: -5px;
    font-weight:500;
}

.boxcontent__desc p {
    width: 300px;
    line-height: 19px;
    margin: -3.5px 0 0 -5px;
}

.boxcontent__quote {
    width: 248px;
    height: 402px;
    background-color: #eee;
    position: relative;
    margin: -65px 0 0 370px;
}

.boxcontent__quote:before {
    content: "";
    position: absolute;
    bottom: -35px;
    left: 111px;
    border-top: 60px solid #eee;
    border-right: 4px solid transparent;
    border-left: 87px solid transparent;
}

.boxcontent__quote p {
    padding-top: 23px;
    color: #745459;
    font-family: Georgia, Times, serif;
    font-style: italic;
    width: 200px;
    font-size: 20px;
   margin: 0 auto 0 auto;
    line-height: 26px;
}
.boxcontent__quote--item-1{
    padding-bottom: 8px;
}
.boxcontent__quote--item-2 {
    margin-top: 15px;
}

.boxcontent .boxcontent__author {
    padding:45px 0 0 496px;
    font-family: "duepuntozeroBlod";
}

.boxcontent__author p {
    width: 115px;
    font-size: 15px;
    font-style: bold;
    color: #000;
    font-family: "duepuntozeroBlod";
}

.boxcontent__author span {
    color: #89451f;
    font-size: 10px;
    text-transform: uppercase;
}

.boxcontent__recnt {
    width: 780px;
    padding-left: 342px;
    display: inline-block;
}

.boxcontent__recnt--title {
    padding-top: 10px;
    float: left;
    width: 210px;
}

.boxcontent__recnt--title p {
    font-family: "duepuntozero";
    font-size: 41px;
    color: #2f231e;
    display: inline-block;
    padding-top: 5px;
}

.boxcontent__recnt--image {
    float: left;
    padding-bottom: 28px;
}

.boxcontent__recnt--image ul {
    padding-left: 292px;
    width: 120px;
    float: left;
}

.boxcontent__recnt--image li {
    list-style: none;
    display: inline-block;
    padding:25px 5px 0 0;
}

.boxcontent__recnt--banner img {
    border: 12px solid #fff;
}

.boxcontent__recnt--origin {
    font-size: 13px;
    color: #4e4d4d;
    font-family: Arial, Helvetica, sans-serif;
    padding:15px 0 0 240px;
}

.boxcontent__recnt-- span {
    font-style: italic;
}

.boxfooter__center {
    background-color: #30241F;
    margin: 0 auto 0 auto;
    width: 1004px;
}

.boxfooter__center--logo {
    background-color: #251B17;
    width: 155px;
    padding-left: 60px;
    float: left;
    display: inline-block;
    height: 94px;
    border-left: 1px solid #61473d;
}

.boxfooter__center--logo img {
    z-index: 1000;
    position: absolute;
    margin: 2px 0 0 35px;
}

.boxfooter__center--namecompany {
    display: inline-block;
    width: 130px;
    height: 94px;
    background-color: #251B17;
    float: left;
    opacity: 1;
    border-right: 1px solid #61473d;
}

.boxfooter__center--namecompany h3 {
    display: inline-block;
    color: #fff;
    font-family: "duepuntozero";
    margin: 27px 0 0 -88px;
    font-size: 36px;
    text-transform:capitalize;
    font-weight:500;
}

.boxfooter__center--namecompany p {
    display: inline-block;
    margin:0px 0 0 -10px;
    font-size: 15px;
    font-family: "duepuntozero";
    color: #fae1b3;
    text-transform:uppercase;
}

.boxfooter__center--src {
    float: left;
    width: 655px;
    background-color: #30241F;
    height: 94px;
    border-right: 1px solid #61473d;
    line-height:14px;
}

.center__src--item-1 {
    width: 40%;
    float: left;
    width: 50%;
    padding:34px 0 0 35px;
    font-size: 11px;
}

.center__src--item-1 span {
    color: #fff;
}

.center__src--item-2 span {
    color: #fff;
}

.center__src--item-2 p {
    color: #a68a7d;
    padding-left: 8px;
}

.center__src--item-1 p {
    color: #a68a7d;
}

.center__src--item-2 {
    float: left;
    width: 41%;
    font-size: 11px;
    padding:40px 0 0 23.9px;
}
@media only screen and (min-width: 319px) and (max-width:373px) {
    .lightbox {
        width: 100%;
        margin: 0 0 300px 0;
    }
    .lightbox__boxheader--top {
        width: 100%;
    }
    .lightbox__boxheader {
        width: 100%;
    }
    .lightbox__boxheader--logo {
        width: 80%;
    }
    .boxheader__logo--image {
        margin-left: -80px;
    }
    .lightbox__name--company {
        margin-left: 140px;
    }
    .lightbox__sologan--company {
        display: none;
    }
    .lightbox__boxheader--menu {
        width: 100%;
    }
    .lightbox__boxheader--menu ul {
        margin-left: -35px;
        margin-top: 350px;
        width: 100%;
        margin: 350px 0  0 -35px;
    }
    .lightbox__boxheader--menu li {
        display: block;
        margin-bottom: 95px;
        text-align: center;
        background-color: #3B2C25;
        width: auto;
    }
    .lightbox__boxheader--menu .boxheader__menu--item-1 {
        margin-left: 35px;
        width: 100%;
        padding-left: 0px;
    }
    .lightbox__boxheader--menu .boxheader__menu--item-3 {
        margin-left: 35px;
        width: 100%;
        padding-left: 0px;
    }
    .lightbox__boxheader--menu .boxheader__menu--item-4 {
        margin-left: 35px;
        width: 100%;
        padding-left: 0px;
    }
    .lightbox__boxheader--menu .boxheader__menu--item-2 {
        margin-left: 35px;
        width: 100%;
        padding-left: 0px;
        text-align: center;
    }
    .lightbox__boxheader--menu .boxheader__menu--item-2 p {
        padding-left: 0px;
    }
    .nav-icon {
        display: none;
    }
    main {
        width: 100%;
        height:auto;
    }
    .boxcontent {
        padding-left: 0px;
        width: 100%;
    }
    .boxcontent h2 {
        text-align: center;
    }
    .boxcontent__wedo{
        width: 100%;
    }
    .boxcontent__desc p{
        width: 90%;
    }
    .boxcontent__wedo--image li{
        padding-bottom: 150px;
    }
    .boxcontent__quote {
        margin:590px 0 0 50px;
    }
    .boxcontent__author {
        margin-left: -308px;
    }
    hr {
        width: 100%;
    }
    .boxcontent__recnt {
        padding-left: 0px;
        width: 100%;
    }
    .boxcontent__recnt--title {
        text-align: center;
    }
    .boxcontent__recnt--image {
        display: none;
        width: 100%;
    }
    .boxcontent__recnt--banner img {
        width: 100%;
        border: 10px;
    }
    .boxcontent__recnt--origin {
        padding-left: 10px;
    }
    .boxfooter {
        width: 100%;
        margin:0 0 0 0;
        height: 100px;
    }
    .boxfooter__center {
        width: 100%;
        margin:0 0 0 0;
        height: 100px;
    }
    .boxfooter__center--namecompany {
        width: 150px;
        
    }
    .boxfooter__center--logo {
        padding-left: 0px;
        width: 50px;
        height: 100px;
    }
    .boxfooter__center--logo img {
        margin-left: 10px;
    }
    .boxfooter__center--namecompany {
        width: 21.2%;
        height: 100px;
    }
    .boxfooter__center--namecompany h3 {
        font-size: 30px;
        margin:30px 0 0 -15px;
    }
    .boxfooter__center--namecompany h5 {
        font-size: 12px;
        margin-top: 6px;
    }
    .boxfooter__center--src {
        width: 61.1%;
        font-size: 5px;
        height: 100px;
        font-family: "duepuntozero";
    }
    .center__src--item-1 {
        padding-left: 10px;
        margin-top: -15px;
        width: 100%;
        display: inline-block;
        font-size: 13px;
    }
    .center__src--item-2 {
        font-size: 5px;
        padding: 10px 0 0 1px;
        width: 100%;
        font-size: 15px;
        display: inline-block;
    }
}

@media only screen and (min-width: 374px) and (max-width:414px) {
    .lightbox {
        width: 100%;
        margin: 0 0 300px 0;
    }
    .lightbox__boxheader--top {
        width: 100%;
    }
    .lightbox__boxheader {
        width: 100%;
    }
    .lightbox__boxheader--logo {
        width: 80%;
    }
    .boxheader__logo--image {
        margin-left: -80px;
    }
    .lightbox__name--company {
        margin-left: 140px;
    }
    .lightbox__sologan--company {
        display: none;
    }
    .lightbox__boxheader--menu {
        width: 100%;
    }
    .lightbox__boxheader--menu ul {
        margin-left: -35px;
        margin-top: 350px;
        width: 100%;
        margin: 350px 0  0 -35px;
    }
    .lightbox__boxheader--menu li {
        display: block;
        margin-bottom: 95px;
        text-align: center;
        background-color: #3B2C25;
        width: auto;
    }
    .lightbox__boxheader--menu .boxheader__menu--item-1 {
        margin-left: 35px;
        width: 100%;
        padding-left: 0px;
    }
    .lightbox__boxheader--menu .boxheader__menu--item-3 {
        margin-left: 35px;
        width: 100%;
        padding-left: 0px;
    }
    .lightbox__boxheader--menu .boxheader__menu--item-4 {
        margin-left: 35px;
        width: 100%;
        padding-left: 0px;
    }
    .lightbox__boxheader--menu .boxheader__menu--item-2 {
        margin-left: 35px;
        width: 100%;
        padding-left: 0px;
        text-align: center;
    }
    .lightbox__boxheader--menu .boxheader__menu--item-2 p {
        padding-left: 0px;
    }
    .nav-icon {
        display: none;
    }
    main {
        width: 100%;
        height:auto;
    }
    .boxcontent {
        padding-left: 0px;
    }
    .boxcontent h2 {
        text-align: center;
    }
    .boxcontent__quote {
        margin:510px 0 0 50px;
    }
    .boxcontent__author {
        margin-left: -300px;
    }
    hr {
        width: 100%;
    }
    .boxcontent__recnt {
        padding-left: 0px;
        width: 100%;
    }
    .boxcontent__recnt--title {
        text-align: center;
    }
    .boxcontent__recnt--image {
        display: none;
        width: 100%;
    }
    .boxcontent__recnt--banner img {
        width: 100%;
        border: 10px;
    }
    .boxcontent__recnt--origin {
        padding-left: 10px;
    }
    .boxfooter {
        width: 100%;
        margin:0 0 0 0;
        height: 100px;
    }
    .boxfooter__center {
        width: 100%;
        margin:0 0 0 0;
        height: 100px;
    }
    .boxfooter__center--namecompany {
        width: 150px;
        
    }
    .boxfooter__center--src {
        width: 64%;
    }
    .boxfooter__center--logo {
        padding-left: 0px;
        width: 50px;
        height: 100px;
    }
    .boxfooter__center--logo img {
        margin-left: 10px;
    }
    .boxfooter__center--namecompany {
        width: 21.2%;
        height: 100px;
    }
    .boxfooter__center--namecompany h3 {
        font-size: 30px;
        margin:30px 0 0 -15px;
    }
    .boxfooter__center--namecompany h5 {
        font-size: 12px;
        margin-top: 6px;
    }
    .boxfooter__center--src {
        width: 63.1%;
        font-size: 5px;
        height: 100px;
    }
    .center__src--item-1 {
        width: 90%;
        padding:10px 0 0 30px;
        display: inline-block;
        font-size: 15px;
    }
    .center__src--item-2 {
        font-size: 14.5px;
        padding: 10px 0 0 24px;
        width: 100%;
        display: inline-block;
    }
}

@media only screen and (min-width: 765px) and (max-width:1022px) {
    .lightbox {
        width: 100%;
    }
    .lightbox__boxheader {
        width: 100%;
    }
    .lightbox__boxheader--logo {
        width: 85%;
    }
    .boxheader__logo--image {
        margin-left: -70px;
    }
    .lightbox__name--company {
        margin-left: 160px;
    }
    .lightbox__sologan--company {
        margin-left: 320px;
        width: 45%;
    }
    .lightbox__boxheader--menu ul {
        margin-left: 15%;
    }
    main {
        width: 85%;
    }
    .boxcontent {
        width: 85%;
        padding-left: 2%;
        margin: 0 auto 0 auto;
    }
    .boxcontent h2 {
        margin-top: 30px;
    }
    .boxcontent__recnt {
        padding-left: 2%;
    }
    hr {
        width: 100%;
    }
    .boxfooter {
        width: 100%;
        text-transform: uppercase;
    }
    .boxfooter__center {
        width: 85%;
        margin: 0 auto 0 auto;
        height: 94px;
    }
    .boxfooter__center--namecompany {
        width: 21.2%;
        height: 94px;
    }
    .boxfooter__center--logo {
        padding-left: 20px;
        width: 50px;
        height: 94px;
    }
    .boxfooter__center--logo img {
        margin-left: 10px;
    }
    .boxfooter__center--namecompany h3 {
        font-size: 30px;
        margin:26px 0 0 -15px;
    }
    .boxfooter__center--namecompany h5 {
        font-size: 12px;
        margin-top: 26px;
    }
    .boxfooter__center--src {
        width: 67.1%;
        font-size: 5px;
        height: 94px;
        text-transform: uppercase;
    }
    .center__src--item-1 {
        padding-left: 10px;
        width: 48%;
        float: left;
        display: inline-block;
        font-size: 12px;
    }
    .center__src--item-2 {
        font-size: 5px;
        padding: 30px 0 0 25px;
        width: 18%;
        font-size: 13px;
        display: inline-block;
    }
}
@media only screen and (min-width: 1023px) and (max-width:1028px) {
    .lightbox {
        width: 100%;
    }
    .lightbox__boxheader {
        width: 100%;
    }
    .lightbox__boxheader--logo {
        width: 85%;
    }
    .boxheader__logo--image {
        margin-left: -70px;
    }
    .lightbox__name--company {
        margin-left: 160px;
    }
    .lightbox__sologan--company {
        margin-left: 320px;
        width: 45%;
    }
    .lightbox__boxheader--menu ul {
        margin-left: 30%;
    }
    main {
        width: 85%;
    }
    .boxcontent {
        width: 85%;
        padding-left: 2%;
        margin: 0 auto 0 auto;
    }
    .boxcontent h2 {
        margin-top: 30px;
    }
    .boxcontent__recnt {
        padding-left: 10%;
    }
    .boxcontent__quote {
        margin-left:500px;
    }
    .boxcontent__author{
        margin-left:140px;
        font-family: "duepuntozeroBlod";
    }
    hr {
        width: 100%;
    }
    .boxfooter {
        width: 100%;
        text-transform: uppercase;
    }
    .boxfooter__center {
        width: 85%;
        margin: 0 auto 0 auto;
        height: 94px;
    }
    .boxfooter__center--namecompany {
        width: 21.2%;
        height: 94px;
    }
    .boxfooter__center--src {
        width: 90%;
    }
    .boxfooter__center--logo {
        padding-left: 20px;
        width: 50px;
        height: 94px;
    }
    .boxfooter__center--logo img {
        margin-left: 50px;
    }
    .boxfooter__center--namecompany h3 {
        font-size: 30px;
        margin:30px 0 0 25px;
        
    }
    .boxfooter__center--namecompany h5 {
        font-size: 12px;
        margin-top: 26px;
    }
    .boxfooter__center--src {
        width: 70.1%;
        font-size: 5px;
        height: 94px;
        text-transform: uppercase;
    }
    .center__src--item-1 {
        padding-left: 10px;
        width: 40%;
        float: left;
        display: inline-block;
        font-size: 10px;
    }
    .center__src--item-2 {
        font-size: 5px;
        padding-top: 40px;
        width: 50%;
        font-size: 10px;
        display: inline-block;
    }
}