* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EBE7E4;
    background-image: linear-gradient(#CFC6C0, white);
    background-image: linear-gradient(#E6E2DF, white);
}

.content {
    padding-left: 350px;
    padding-top: 35px;
}

#menu {
    width: 20px;
    float: left;
}

#menu ul {
    list-style: none;
    margin-left: 570px;
    white-space: nowrap;
    z-index: 100;
    position: absolute;
}

#menu li {
    display: inline-block;
    margin-left: 84px;
    text-align: center;
    color: #c7b18d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    margin-top: -88px;
    padding-left: 5px;
    margin-bottom: 10px;
}

#menu .item1 {
    padding-left: 27px;
    padding-top: -1000px;
}

#menu .item4 {
    margin-left: 75px;
}

#menu .item2 {
    width: 50px;
}

#menu .item2 p {
    padding-top: 0px;
    padding-left: 37px;
}

#menu p {
    margin-top: 9.5px;
}

.BoxHeaderTop {
    height: 52px;
    background-color: #251B17;
    border-bottom: 1px solid #61473d;
}

.LightBox {
    /* background-color: #30241F; */
    height: 84px;
    width: 1349px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 185px;
}

.BoxHeader {
    width: 1345px;
    background-color: #3B2C25;
}

.LightboxMain {
    position: absolute;
    z-index: 100;
    margin-left: -40px;
    margin-top: -143px;
}

.LightBox-Bot {
    background-color: #30241F;
    width: 1004px;
    height: 214px;
    margin-left: auto;
    margin-right: auto;
    border-left: 1px solid #61473d;
    border-right: 1px solid #61473d;
    border-bottom: 1px solid #61473d;
}

.title {
    margin-left: 335px;
    margin-top: 22px;
    color: #fff;
    font-family: 'Rajdhani', sans-serif;
    margin-bottom: 48px;
    width: 70px;
}

.title p {
    font-family: "duepuntozero", sans-serif;
    font-size: 68px;
    margin-top: -150px;
}

.title h4 {
    margin-left: 80px;
    /* width: 50px; */
    font-family: "duepuntozero";
    color: #fff;
    margin-top: -12px;
    font-size: 18px;
}

.sologan {
    width: 480px;
    margin-left: 490px;
    color: #a68a7d;
    border-left: 1px solid #a68a7d;
    height: 90px;
    margin-top: -15px;
    font-family: "helvetica";
}

.sologan span {
    color: #fff;
}

.sologan p {
    padding-left: 25px;
    margin-top: -128px;
    font-size: 18px;
    padding-top: 5px;
}

main {
    margin-left: auto;
    margin-right: auto;
    width: 1004px;
    height: 1130px;
    clear: both;
    background-color: #f7f5f4;
    border: 1px solid #fff;
}

.wedo {
    float: left;
}

.wedo-img {
    padding-top: 25px;
    float: left;
}

.wedo-img ul {
    list-style: none;
}

.wedo-img li {
    padding-top: 10px;
    padding-bottom: 98px;
}

.content {
    width: 340px;
    float: left;
    clear: both;
}

.content h2 {
    padding-bottom: 18px;
    font-family: "duepuntozero";
    font-size: 41px;
    color: #2f231e;
}

.LightBox-footer {
    height: 94px;
    width: 1349px;
    margin-left: auto;
    margin-right: auto;
    background-color: #3B2C25;
}

.wedochild {
    padding-top: 24px;
    width: 80%;
    padding-left: 55px;
    color: #745459;
    padding-bottom: 30px;
}

.wedochild ul {
    list-style: none;
}

.wedochild li {
    padding-top: 15px;
    padding-bottom: 15px;
}

.wedochild h3 {
    font-size: 30px;
    padding-bottom: 15px;
    font-family: "duepuntozero";
}

.wedochild p {
    width: 300px;
}

.quote {
    width: 248px;
    height: 405px;
    background-color: #eee;
    position: relative;
    margin-left: 370px;
    margin-top: -65px;
}

.quote:before {
    content: "";
    position: absolute;
    bottom: -35px;
    left: 111px;
    border-top: 80px solid #eee;
    border-right: 4px solid transparent;
    border-left: 87px solid transparent;
}

.quote p {
    padding-top: 30px;
    color: #745459;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    width: 200px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.author {
    padding-left: 495px;
    padding-top: 45px;
}

.author p {
    width: 115px;
    font-size: 15px;
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #000
}

.author span {
    color: #89451f;
    font-size: 10px;
}

.recnt {
    width: 780px;
    padding-left: 360px;
    display: inline-block;
}

.tileRecent {
    padding-top: 20px;
    float: left;
    width: 210px;
}

.tileRecent p {
    font-family: "duepuntozero";
    font-size: 41px;
    color: #2f231e;
    display: inline-block;
    padding-top: 5px;
}

.recentImg {
    float: left;
    padding-bottom: 28px;
}

.recentImg ul {
    padding-left: 292px;
    width: 120px;
    float: left;
}

.recentImg li {
    list-style: none;
    padding-top: 38px;
    display: inline-block;
    padding-right: 5px;
}

.Banner img {
    border: 7px solid #fff;
}

.origin {
    font-size: 13px;
    color: #4e4d4d;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 240px;
    padding-top: 12px;
}

.origin span {
    font-style: italic;
}

.LightBox-footer-center {
    background-color: #30241F;
    margin-left: auto;
    margin-right: auto;
    width: 1004px;
}

.lightbox-footer-logo {
    background-color: #251B17;
    width: 155px;
    padding-left: 60px;
    float: left;
    display: inline-block;
    height: 94px;
    border-left: 1px solid #61473d;
}

.lightbox-footer-logo img {
    z-index: 1000;
    position: absolute;
    margin-left: 35px;
    margin-top: 8px;
}

.lightbox-footer-tile {
    display: inline-block;
    width: 130px;
    height: 94px;
    background-color: #251B17;
    float: left;
    opacity: 1;
    border-right: 1px solid #61473d;
}

.lightbox-footer-tile h3 {
    margin-top: 28px;
    display: inline-block;
    color: #fff;
    font-family: "duepuntozero";
    margin-left: -88px;
    font-size: 36px;
}

.lightbox-footer-tile h5 {
    margin-top: 32px;
    display: inline-block;
    margin-left: 1px;
    font-size: 18px;
    font-family: "duepuntozero";
    color: #fae1b3;
}

.lightbox-footer-content {
    float: left;
    width: 655px;
    background-color: #30241F;
    height: 94px;
    border-right: 1px solid #61473d;
}

.lightbox-footer-item1 {
    width: 40%;
    float: left;
    width: 50%;
    padding-left: 35px;
    padding-top: 38px;
    font-family: "ArialMT";
    font-size: 11px;
}

.lightbox-footer-item1 span {
    color: #fff;
}

.lightbox-footer-item2 span {
    color: #fff;
}

.lightbox-footer-item2 p {
    color: #a68a7d;
}

.lightbox-footer-item1 p {
    color: #a68a7d;
}

.lightbox-footer-item2 {
    float: left;
    width: 41%;
    padding-top: 42px;
    font-family: "ArialMT";
    font-size: 11px;
    padding-left: 23px;
}